/* for github corner */
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

/* helper */
.no-padding {
  padding: 0;
}

/* for demo html */
html,
body {
  padding: 0;
  margin: 0;
}

textarea {
  resize: none;
}

pre {
  overflow: scroll;
}

#outputContent pre[class*='language-'] {
  margin: 0;
}

header h1 {
  text-align: center;
}

.md-input {
  flex-grow: 1;
  margin: 5px 0;

  overflow: auto;
}

.containers {
  display: flex;
  height: calc(100vh - 85px);
}

.container {
  flex-basis: 50%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.operation,
.response {
  margin: 0;
  padding: 0;
}
